{% extends 'auctions/layout.html' %}

{% block body %}
<h2>{{category}}</h2>
<hr>
<div class="container">
        {% for listing in listings %}
            <div class="card mb-4" style="width:540px;">
                <div class="row">
                    <img class="card-img-left col-md-6" src={{listing.image_url}} alt={{ listing.title }}>
                    <div class="card-body">
                        <h5 class="card-title">{{ listing.title }}</h5>
                        <p class="card-text">{{ listing.description }}</p>
                        <p class="card-text"> ${{ listing.bids.last.bid }}</p>
                        <a href="{%url 'listing_page' listing.id %}" class="btn btn-primary">Open</a>
                    </div>
                </div>
            </div>
            {% empty %}
                <p> No Listing</p>
        {% endfor %}
</div>
{%endblock%}